.post {
    background-color: rgb(225, 225, 225);
    display: grid;
    grid-template-areas:
        "avatar message"
        "avatar like";
    grid-template-columns: 70px 1fr;
    padding: 10px;
    border-radius: 5px;
    grid-gap: 10px;
}

.avatar {
    grid-area: avatar; 
}

.avatar img {
    height: 70px;
    border-radius: 5px;
}

.message {
    grid-area: message;
}

.like {
    grid-area: like;
}